useDynLib(RWald, dIG_c = dIG,
                 dwald_gamma_c = dwald_gamma,
                 dwald_trunc_c = dwald_trunc,
                 dswald_c = dswald)
export (
dwald,
dwald_r,
dwald_gamma,
dwald_gamma_r,
dwald_trunc,
dwald_trunc_r,
dIG,
dIG_r,
dswald,
dswald_r
)
